<div class="container py-4">
  <form>
    <div class="form-group form-inline">
        Search by description: <input class="form-control ml-2" type="text" [formControl]="searchTerm"/>
    </div>
  </form>
  <table class="table table-striped table-borderless">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Description</th>
        <th scope="col">Received date</th>
        <th scope="col">Assigned to</th>
        <th scope="col">Status</th>
        <th scope="col">Priority</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of filteredOrders$ | async; index as i">
        <th>{{ order.id }}</th>
        <td>{{ order.description }}</td>
        <td>{{ order.receivedDate.toLocaleString() }}</td>
        <td>{{ order.assignedToString }}</td>
        <td><app-badge [color]="getStatusColor(order.status)" >{{ order.status }}</app-badge></td>
        <td><app-badge [color]="getPriorityColor(order.priority)" >{{ order.priority }}</app-badge></td>
      </tr>
    </tbody>
  </table>
</div>